<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorate="layout">
<head>
	<meta charset="UTF-8" />
	<title>Livros</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />

</head>
<body>
<form method="post" action="#" th:action="@{/books/post}" th:object="${book}">
    <input type="hidden" th:field="*{id}">
    
    Nome: <input type="text" th:field="*{name}"><br>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span> <br><br>
    Quantidade Páginas: <input type="text" th:field="*{numberPages}">
    <span th:if="${#fields.hasErrors('numberPages')}" th:errors="*{numberPages}">Error</span> <br><br>
    Autor: 
    	<select th:field="*{author}">
    		<option value="">Selecione o autor:</option>
    		<option th:each="author : ${authorsList}" th:value="${author.id}" th:text="${author.name} " selected="selected"></option>
    	 </select><br>
    <input type="submit">
</form>


	<!--  JQuery -->
	<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}" ></script>
	<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}" ></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" ></script>

</body>
</html>
