<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorate="layout">
<head>
	<meta charset="UTF-8" />
	<title>Autores</title>
</head>

<body>

	<nav layout:fragment="header" aria-label="breadcrumb" role="navigation">
	</nav>

	<div layout:fragment="content" class="container">
	
		<form method="post" action="#" th:action="@{/authors/post}" th:object="${author}">
		
				<div class="col-md-12" style="margin:15px"></div>
		
		    	<input type="hidden" th:field="*{id}">
		    	Nome: <input type="text" th:field="*{name}"><br>
		    	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span> <br><br>
		    	<input type="submit">
		
		
		</form>

	</div>

</body>
</html>
