body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: url("../img/fundo.jpg");	
  background-size: cover; 
  height: 100%;
}

.navbar {
   background-color: #353D41;
   font-size: 125%;
   padding-top: 10px;
   padding-bottom: 10px;   	
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

